.editor {
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.editor__saveBtn {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
}

.editor__discardBtn {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: gray;
  cursor: pointer;
}

.editor__deleteBtn {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: #cf1322;
  cursor: pointer;
}

.editor__qnHeading {
  margin-top: 20px;
}

.editor__qnaBox > input {
  margin: 4px 0px;
}
.editor__btnContainer {
  display: flex;
  justify-content: flex-end;
}

.editor__btnContainer > * {
  margin-left: 5px;
}

.editor__label {
  font-size: 14px;
}

.editor__qnaBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.editor__qnaContainer {
  display: flex;
  flex-wrap: wrap;
}

.editor__qnaBox {
  margin: 5px 0px;
  padding: 10px;
  background-color: lavender;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.editor__qElement {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor__aElement {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.editor__deleteQnBtn {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
  margin-left: 10px;
}

.editor__input {
  font-size: 16px;
}

.editor__description {
  font-family: Arial;
  font-size: 16px;
}

.editor__descLabel {
  margin-top: 10px;
}
