.editor {
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.editor__saveBtn {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
}

.editor__discardBtn {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
}

.editor__qnHeading {
  margin-top: 20px;
}
.editor__qnaBox > input {
  margin: 4px 0px;
}
.editor__btnContainer {
  display: flex;
  justify-content: flex-end;
}

.editor__label {
  font-size: 14px;
}
.editor__qnaBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.editor__qnaContainer {
  display: flex;
  flex-wrap: wrap;
}
.editor__qnaBox {
  flex: 40%;
  margin: 5px;
  padding: 10px;
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
}
